/* formControl */
.formControl {
    margin: 8px; /* Equivalent to theme.spacing(1) */
    min-width: 120px;
    margin-bottom: 30px;
  }
  
  /* selectEmpty */
  .selectEmpty {
    margin-top: 16px; /* Equivalent to theme.spacing(2) */
  }
  
  /* loading */
  .loading {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* container */
  .container {
    padding: 25px;
  }
  
  /* marginBottom */
  .marginBottom {
    margin-bottom: 30px;
  }
  
  /* list */
  .list {
    height: 75vh;
    overflow: auto;
  }