.alertBox{
    background-color: #78C0E0;
    border: 5px outset #98CFE7;
    color: white;
    width: 40%;
    text-align: center;
    margin: 20px auto 20px auto;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#weatherAlerts{
    background-color: black;
    color: white;
    border: none;
}
#weatherAlerts:hover{
    background-color: white;
    color: black;
}
