body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
<<<<<<< HEAD
=======
    width: 25%;
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

h1 {
<<<<<<< HEAD
    color: #333;
=======
    color: #007acc; 
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
}

.form-group {
    margin-bottom: 20px;
<<<<<<< HEAD
=======
    text-align: left;
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
<<<<<<< HEAD
=======
    color: #333; 
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
}

input[type="text"],
input[type="password"] {
<<<<<<< HEAD
    width: 100%;
=======
    width: 90%;
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
<<<<<<< HEAD
    background-color: #007BFF;
=======
    background-color: #007acc; 
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
<<<<<<< HEAD
    background-color: #0056b3;
}
=======
    background-color: #0056b3; 
}
>>>>>>> 4d6dbd858e40281c2356726af7ab65d5d8d65a38
