/* paper */
.paper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* mapContainer */
  .mapContainer {
    height: 85vh;
    width: 100%;
  }
  
  /* markerContainer */
  .markerContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  /* pointer */
  .pointer {
    cursor: pointer;
  }